<div class='container'>
    <div class="row mb-3">
        <h3 class="col-md-12 left-align">Dispositivo</h3>
        <div class="col-md-12">
            <span class="float-right" style="font-size: 12px;">Firmware: {{config.FWVersion}}</span> <br/>
            <span class="float-right" style="font-size: 12px;">MAC: {{config.Mac}}</span>
        </div>
    </div>
    <!--Panel de Configuracion (IOTHUB FIRMWARE)-->
    <div class="row">
        <div class="col-md-12">

            <div class="form-group mb-3">
                <label class="form-label">Direccion Equipo (Modbus RTU):</label>
                <input type="number" class="form-control" [(ngModel)]="config.ModbusAddress" name="ModbusAddress" pattern=".{2}" title="The field requires address " maxlength="2" required>
                <span class="form-text text-muted">modbus slave address 1 -247</span>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Baud Rate:</label>
                <input type="number" class="form-control" [(ngModel)]="config.DeviceBaudrate" name="DeviceBaudrate" pattern=".{20}" title="The field requires Chanel " maxlength="20" required>
                <span class="form-text text-muted">baudrate  9600 ,19200,115200</span>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">IP Equipo (Modbus TCP):</label>
                <input type="text" class="form-control" [(ngModel)]="config.ModbusTCPAddress" name="ModbusTCPAddress" pattern=".{20}" title="The field requires address " maxlength="20" required>
                <span class="form-text text-muted">Valid IP address</span>
            </div>
            <h5 class="col-md-12 left-align">Equipo</h5>
            <hr>
            <div class="form-group mb-3">
                <input type="radio" id="chintdevice" name="device" [(ngModel)]="config.HWDeviceType" value="chintdevice" checked>
                <label for="chintdevice"> CHINT</label><br />
                <input type="radio" id="cvm4device" name="device" [(ngModel)]="config.HWDeviceType" value="cvm4device" checked>
                <label for="cvm4device"> CVM-4</label><br />
                <input type="radio" id="cvm5device" name="device" [(ngModel)]="config.HWDeviceType" value="cvm5device" checked>
                <label for="cvm5device"> CVM-5</label><br />
                <input type="radio" id="cvm10device" name="device" [(ngModel)]="config.HWDeviceType" value="cvm10device" checked>
                <label for="cvm10device"> CVM-10</label><br />
                <input type="radio" id="startmonodevice" name="device" [(ngModel)]="config.HWDeviceType" value="startmonodevice" checked>
                <label for="startmonodevice"> START MONOFASICO</label><br />
                <input type="radio" id="starttridevice" name="device" [(ngModel)]="config.HWDeviceType" value="starttridevice" checked>
                <label for="starttridevice"> START TRIFÁSICO</label><br />
                <input type="radio" id="starttrisemdevice" name="device" [(ngModel)]="config.HWDeviceType" value="starttrisemdevice" checked>
                <label for="starttrisemdevice"> START TRIFÁSICO SEMI</label><br />
                <input type="radio" id="amsmonodevice" name="device" [(ngModel)]="config.HWDeviceType" value="amsmonodevice" checked>
                <label for="amsmonodevice"> AMS MONOFASICO</label><br />
                <input type="radio" id="amstridevice" name="device" [(ngModel)]="config.HWDeviceType" value="amstridevice" checked>
                <label for="amstridevice"> AMS TRIFÁSICO</label><br />
                <input type="radio" id="amstrisemdevice" name="device" [(ngModel)]="config.HWDeviceType" value="amstrisemdevice" checked>
                <label for="amstrisemdevice"> AMS TRIFÁSICO SEMI</label><br />
            </div>
            <h5 class="col-md-12 left-align">Comunicación con Plataforma</h5>
            <hr>
            <div class="form-group mb-3">
                <input type="radio" id="wifi" name="network" [(ngModel)]="config.ConnectionType" value="wifi" checked>
                <label for="wifi">WIFI- Inalambrico</label><br />
                <input type="radio" id="gprs" name="network" [(ngModel)]="config.ConnectionType" value="gprs" checked>
                <label for="gprs">GPRS-Inalambrico Red Movil</label><br />
            </div>
            <div class="form-group mb-5">
                <button type="submit" class="btn btn-primary" (click)="saveConfig()">Guardar </button>
            </div>
        </div>
    </div>
</div>