<div class='container'>
    <div class="row mb-3">
        <h3 class="col-md-12 left-align">Dispositivo</h3>
    </div>
    <!--Panel de Configuracion (IOTHUB FIRMWARE)-->
    <div class="row">
        <div class="col-md-12">

            <div class="form-group mb-3">
                <label class="form-label">Direccion Equipo (Modbus RTU):</label>
                <input type="number" class="form-control" [(ngModel)]="config.ModbusAddress" name="ModbusAddress"
                    pattern=".{2}" title="The field requires address " maxlength="2" required>
                <span class="form-text text-muted">2 characters max</span>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Baud Rate:</label>
                <input type="number" class="form-control" [(ngModel)]="config.DeviceBaudrate" name="DeviceBaudrate"
                    pattern=".{20}" title="The field requires Chanel " maxlength="20" required>
                <span class="form-text text-muted">20 characters max</span>
            </div>
            <div class="form-group mb-3">
                <label class="form-label">IP Equipo (Modbus TCP):</label>
                <input type="text" class="form-control" [(ngModel)]="config.ModbusTCPAddress" name="ModbusTCPAddress"
                    pattern=".{20}" title="The field requires address " maxlength="20" required>
                <span class="form-text text-muted">Valid IP address</span>
            </div>
            <h5 class="col-md-12 left-align">Equipo</h5>
            <hr>
            <div class="form-group mb-3">
                <input type="radio" id="chintdevice" name="drone" [(ngModel)]="config.SupportedHWDeviceTypes"
                    value="chintdevice" checked disabled>
                <label for="chintdevice">CHINT</label><br />
                <input type="radio" id="circutordevice" name="drone" [(ngModel)]="config.SupportedHWDeviceTypes"
                    value="circutordevice" checked disabled>
                <label for="circutordevice">CIRCUTOR</label><br />
            </div>
            <h5 class="col-md-12 left-align">Comunicación con Plataforma</h5>
            <hr>
            <div class="form-group mb-3">
                <input type="radio" id="wifi" name="drone" [(ngModel)]="config.SupportedHWInterfaces" value="wifi"
                    checked disabled>
                <label for="wifi">WIFI- Inalambrico</label><br />
                <input type="radio" id="gprs" name="drone" [(ngModel)]="config.SupportedHWInterfaces" value="gprs"
                    checked disabled>
                <label for="gprs">GPRS-Inalambrico Red Movil</label><br />
            </div>
            <div class="form-group mb-5">
                <button type="submit" class="btn btn-primary" (click)="saveConfig()" >Guardar </button>
            </div>
        </div>
    </div>
</div>