.icon-dsd {
    width: 80px;
    margin-top: 5px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar.mat-primary {
    background: #000000 !important;
    color: #ffffff !important;
}

.mat-toolbar {
    height: 65px !important;
}