.icon-dsd {
    width: 80px;
    margin-top: 5px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar.mat-primary {    
    background: #222222 !important;
    color: #dc9f10 !important;
}

.mat-toolbar {
    height: 95px !important;}

.green {
    color: green !important;
    }
    
.red {
    color: red !important;
    }

button.connected-icon.loading {
    color: gray !important; /* Change the color to gray or any other desired color */
    }
    
    button.connected-icon.green {
    color: green !important; /* Change the color to green or any other desired color */
    }
    
    button.connected-icon.red {
    color: red !important; /* Change the color to red or any other desired color */
    }