.icon-dsd {
    width: 80px;
    margin-top: 5px;
}

.example-spacer {
    flex: 1 1 auto;
}

.mat-toolbar.mat-primary {    
    background: #222222 !important;
    color: #dc9f10 !important;
}

.mat-toolbar {
    height: 95px !important;}
