<div class='container'>
    <div class="row mt-3">
        <div class="col-md-12 d-flex justify-content-between">
            <div>
                <h2 class="title">LAYERS</h2>
            </div>
            <!-- <div>
                <a [routerLink]="['/keymap/setting']" class="layer_buttons">New Layer</a>
            </div> -->
        </div>
        <table mat-table [dataSource]="layerList" matSort class="col-md-12 mat-elevation-z8">
            <ng-container matColumnDef="pos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Position </th>
                <td mat-cell *matCellDef="let element"> {{element.pos}} </td>
            </ng-container>
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            
            <ng-container matColumnDef="active">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Active Layer </th>
                <td mat-cell *matCellDef="let element">
                  <button mat-icon-button (click)="toggleActive(element)">
                    <mat-icon [ngClass]="{'icon-active': element.active, 'icon-inactive': !element.active}">
                      {{element.active ? 'check' : 'close'}}
                    </mat-icon>
                  </button>
                </td>
              </ng-container>
            

            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/keymap/setting/', {id: element.uuid, pos: element.pos}]" class="action_icon"><i
                            class="material-icons left">edit</i></a>
                    
                    <a (click)="openConfirmationDialog(element)" class="action_icon" style="cursor: pointer;">
                        <i class="material-icons left">delete</i></a>
                    <!-- <a (click)="openConfirmationDialog(element)" class="action_icon" style="cursor: pointer;">
                        <i class="material-icons left">content_copy</i></a> -->
                    <a (click)="downloadJson(element)" class="action_icon" style="cursor: pointer;">
                        <i class="material-icons left">file_download</i></a>

                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columndefs"></tr>
            <tr mat-row *matRowDef="let row; columns: columndefs;"></tr>
        </table>

        
        <!-- <mat-paginator [pageSizeOptions]="[20]" [length]="length" showFirstLastButtons
            (page)="refreshLayer($event.pageIndex+1)" class="bg-transparent mb-3">
        </mat-paginator> -->
    </div>
    <div>
        <br/>
        <a [routerLink]="['/keymap/setting']" class="layer_buttons">New Layer</a>
    </div>
    <div>
        <input type="file" accept=".dd" (change)="onFileSelected($event)">
        <button class="layer_buttons" (click)="uploadJson()" [disabled]="!selectedFile">Upload JSON</button>
    </div>
    
    
    
    <!-- <div class="row mt-3 mb-3">
        <div class="col-md-12 d-flex justify-content-between">
            <div>
                <h2 class="title">MACROS</h2>
            </div>
            <div>
                <button style="background: #dc9f10; border-radius: 5px; padding: 5px;">Add Macro</button>
            </div>
        </div>
        <table mat-table [dataSource]="macroList" matSort class="col-md-12 mat-elevation-z8">
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>
            <ng-container matColumnDef="pos">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Layer </th>
                <td mat-cell *matCellDef="let element"> {{element.pos}} </td>
            </ng-container>
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element">
                    <a [routerLink]="['/keymap/setting/', {id: element.uuid, pos: element.pos}]" class="action_icon"><i
                            class="material-icons left">remove_red_eye</i></a>
                    <a (click)="edit(element)" class="action_icon" style="cursor: pointer;"><i
                            class="material-icons left">edit</i></a>
                </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="columndefsMacro"></tr>
            <tr mat-row *matRowDef="let row; columns: columndefsMacro;"></tr>
        </table>
        <mat-paginator [pageSizeOptions]="[20]" [length]="lengthMacro" showFirstLastButtons
            (page)="refreshMacro($event.pageIndex+1)" class="bg-transparent mb-3">
        </mat-paginator>
    </div> -->
    
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <a (click)="RestoreToDefault()" class="layer_buttons">Restore all to Default settings</a>
</div>