
<div class='container'>
    <div class="row">
        <h2>Macros</h2>
    </div>

    <div class ="row">
        <mat-expansion-panel class="custom-panel">
            <mat-expansion-panel-header class="custom-header">
              <mat-panel-title>
                Macro List ->
              </mat-panel-title>
            </mat-expansion-panel-header>

            <!-- <button [ngClass]="{'active': seletedDeepFunctionKey == 'layer.left_encoder_map.cw'}" 
                    (click)="pressDeepFunctionKey('layer.left_encoder_map.cw')">
              {{GetKeyNameByKeyCode(layer.left_encoder_map.cw)}}
            </button> -->

            <ul id="keydeck" *ngFor="let macro of deepdeckMacros; let i = index">
                <li [ngClass]="{'active': selectedMacroIndex == i}" (click)="pressMacroKey(i)">
                    <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize(macro.name)}">
                        {{macro.name}}
                    </span>
                    <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize(keylist_macros[i][0])}">
                        {{keylist_macros[i][0]}}
                    </span>
                </li> 
            </ul>
          </mat-expansion-panel>
        
    </div>

    <!-- <div class="row">
        <button mat-icon-button (click)="addMacro()">
            Add
        </button>
    </div> -->

    <h3 *ngIf="showMacroSection">Selected Macro {{macroShortName}}</h3>
    <div *ngIf="showMacroSection" class="macro-section rounded">
        <div class="row">
        <div class="col col-xl-4" >
            <label for="macro-name">Name:</label>
            <input type="text" maxlength="9" id="macro-name" class="form-control" [(ngModel)]="macroName">
        </div>
        <div class="col col-xl-4 text-right">
            <button class="btn btn-primary" (click)="editMacro()">Edit</button>
            <button class="btn btn-success" (click)="saveMacro()">Save</button>
            <button class="btn btn-danger" (click)="addMacro(keyList_basic[0])">Delete</button>
        </div>
        </div>
        <div class="row">
        <div class="col">
            <label>Keys:</label>
            <ul id="keyboard">
                <li *ngFor="let macro of macroKeysAux; let i = index; last as isLast" [class.last-item]="isLast" (click)="removeMacro(i)">
                    <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize(macro[1])}">
                    {{macro[1]}}
                    </span>
                    <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize(macro[0])}">
                    {{macro[0]}}
                    </span>
                </li>
            </ul>
        </div>
        </div>
    </div>

    <div class="row">
        <div class="col">

            <!-- <mat-tab-group class="custom-tabs" (matTabHeaderFocusChanged)="onTabHeaderFocusChanged($event)">
                <mat-tab label="Basic"> -->
                <ul id="keyboard" *ngFor="let key of objectKeys(keyList_basic)">
                    <li
                    (click)="pressKey(keyList_basic[key])"
                    >
                    <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize(keyList_basic[key][1])}">
                        {{keyList_basic[key][1]}}
                    </span>
                    <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize(keyList_basic[key][0])}">
                        {{keyList_basic[key][0]}}
                    </span>
                    </li>
                </ul>
                <!-- </mat-tab>
                <mat-tab label="Functions">
                <ul id="keyboard" *ngFor="let key of objectKeys(keylist_functions)">
                    <li
                    (click)="pressKey(keylist_functions[key][1], keylist_functions[key][2], keylist_functions[key][0])"
                    >
                    <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize(keylist_functions[key][1])}">
                        {{keylist_functions[key][1]}}
                    </span>
                    <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize(keylist_functions[key][0])}">
                        {{keylist_functions[key][0]}}
                    </span>
                    </li>
                </ul>
                </mat-tab>
            </mat-tab-group> -->
        </div>
    </div>
</div>