
<div class='container'>
    <div class="row">
        <div class = "col-3">
            <h2>Macros</h2>
        </div>
        <div class = "col-3">
            <button class="layer_buttons" (click)="toggleDDMacros()" >Show/Hide DeepDeck Macros</button>
        </div>
    </div>


    <h4 *ngIf="showDeepDeckMacros">DeepDeck Macros</h4>
    
    <div class = "row">
        <div class = "col">
            <div *ngIf="showDeepDeckMacros">
               <!-- <ul  id="keydeck" *ngFor="let macro of deepdeckMacros; let i = index">
                     <li [ngClass]="{'active': selectedMacroIndex == i}" (click)="pressMacroKey(i)">
                        <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize(macro.name)}">
                            {{macro.name}}
                        </span>
                        <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize(keylist_macros[i][0])}">
                            {{keylist_macros[i][0]}}
                        </span>
                    </li> 
                </ul> --> 
                <ul id="keydeck">
                    <ng-container *ngFor="let macro of deepdeckMacros; let i = index">
                        <ng-container *ngIf="macro.keycode === 'new_add_macro'; else normalMacro">
                            <!-- Código para 'new_add_macro' --> 
                            <li (click)="handleNewAddMacro()">
                                <!-- Contenido para 'new_add_macro' -->
                                <div style="display: flex; flex-direction: column; align-items: center; justify-content: center; text-align: center;">
                                    <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize('new_macro')}">
                                        {{'new_macro'}}
                                    </span>
                                    <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize('+')}">
                                        +
                                    </span>
                                </div>
                            </li>
                        </ng-container>
                        <ng-template #normalMacro>
                            <!-- Código para otros keycodes -->
                            <!-- Esto se mostrará para cualquier valor de keycode que no sea 'new_add_macro' -->
                            <li [ngClass]="{'active': selectedMacroIndex == i}" (click)="pressMacroKey(i)">
                                <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize(macro.name)}">
                                    {{macro.name}}
                                </span>
                                <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize(keylist_macros[i][0])}">
                                    {{keylist_macros[i][0]}}
                                </span>
                            </li>
                        </ng-template>
                    </ng-container>
                </ul>
            </div>
        </div>
    </div>


    <!-- <div class = "row">
        <mat-expansion-panel class="custom-panel">
            <mat-expansion-panel-header class="custom-header">
              <mat-panel-title>
                Macro List ->
              </mat-panel-title>
            </mat-expansion-panel-header>
            <ul id="keydeck" *ngFor="let macro of deepdeckMacros; let i = index">
                <li [ngClass]="{'active': selectedMacroIndex == i}" (click)="pressMacroKey(i)">
                    <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize(macro.name)}">
                        {{macro.name}}
                    </span>
                    <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize(keylist_macros[i][0])}">
                        {{keylist_macros[i][0]}}
                    </span>
                </li> 
            </ul>
          </mat-expansion-panel>
        
    </div> -->


    <h3 *ngIf="showMacroSection" style="margin-top: 20px;">Selected Macro {{macroShortName}}</h3>
    <div *ngIf="showMacroSection" class="macro-section rounded">
        <div class="row">
        <div class="col col-xl-4" >
            <label for="macro-name">Name:</label>
            <input type="text" maxlength="6" id="macro-name" class="form-control" [(ngModel)]="macroName">
        </div>
        <div class="col col-xl-4 text-right">
            <!-- <button class="btn btn-primary" (click)="editMacro()">Edit</button> -->
            <button class="btn btn-danger" (click)="handleDeleteMacro()" style="margin-right: 15px;">Delete</button>
            <button class="btn layer_buttons" (click)="saveMacro()">Save</button>
        </div>
        </div>
        <div class="row">
        <div class="col">
            <label>Keys:</label>
            <ul id="keyboard">
                <li *ngFor="let macro of macroKeysAux; let i = index; last as isLast" [class.last-item]="isLast" (click)="removeMacro(i)">
                    <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize(macro[1])}">
                    {{macro[1]}}
                    </span>
                    <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize(macro[0])}">
                    {{macro[0]}}
                    </span>
                </li>
            </ul>
        </div>
        </div>
    </div>

    <div *ngIf="showMacroSection" class="row"  style="margin-top: 20px;">
        <div class="col">
            <mat-tab-group class="custom-tabs" (matTabHeaderFocusChanged)="onTabHeaderFocusChanged($event)">
                <mat-tab label="Basic">
                <ul id="keyboard" *ngFor="let key of objectKeys(keylist_macros_selection)">
                    <li
                    (click)="pressKey(keylist_macros_selection[key])"
                    >
                    <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize(keylist_macros_selection[key][1])}">
                        {{keylist_macros_selection[key][1]}}
                    </span>
                    <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize(keylist_macros_selection[key][0])}">
                        {{keylist_macros_selection[key][0]}}
                    </span>
                    </li>
                </ul>
                </mat-tab>
                <!-- <mat-tab label="Functions">
                <ul id="keyboard" *ngFor="let key of objectKeys(keylist_functions)">
                    <li
                    (click)="pressKey(keylist_functions[key][1], keylist_functions[key][2], keylist_functions[key][0])"
                    >
                    <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize(keylist_functions[key][1])}">
                        {{keylist_functions[key][1]}}
                    </span>
                    <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize(keylist_functions[key][0])}">
                        {{keylist_functions[key][0]}}
                    </span>
                    </li>
                </ul>
                </mat-tab> -->
            </mat-tab-group>
        </div>
    </div>
    <h1 style="color: #222222;">.</h1>
</div>