<h1 mat-dialog-title>Recuperar contraseña</h1>
<div mat-dialog-content>
    <p align="center">Enviaremos a tu email un enlace para recuperar la contraseña</p>
    <mat-form-field appearance="outline">
        <mat-label>Correo electrónico</mat-label>
        <input matInput placeholder="Placeholder">
        <mat-icon matSuffix>email</mat-icon>
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <button mat-button (click)="onNoClick()">Cancelar</button>
    <button mat-button cdkFocusInitial>Enviar</button>
    <!-- <button mat-button [mat-dialog-close]="data.email" cdkFocusInitial>Enviar</button> -->
</div>