table {
    width: 100%;
}

.container {
    padding: 20px;
}

.modal {
    max-width: 620px !important;
    border-radius: 10px !important;
    background-color: white !important;
    max-height: 90% !important;
}