<div class='container'>
    <div class="row mb-3">
        <h3 class="col-md-12 left-align">Nube</h3>
    </div>
    <!--Panel de Configuracion (IOTHUB FIRMWARE)-->
    <div class="row">
        <div class="col-md-12">
            <form>
                <div class="form-group mb-3">
                    <label class="form-label">ID Client:</label>
                    <input type="text" class="form-control" autocapitalize="none" [(ngModel)]="device.IDClient" name="idClient" pattern=".{50}" title="The field requires NAMEDEVICEXX " maxlength="50">
                    <span class="form-text text-muted">5 characters max</span>
                </div>
                <div class="form-group mb-3">
                    <label>Model Inversor:</label>
                    <input type="text" class="form-control" autocapitalize="none" [(ngModel)]="device.ModeloInversor" name="modeInversor" pattern=".{50}" title="The field requires NAMEDEVICEXX " maxlength="50">
                    <span class="form-text text-muted">50 characters max</span>
                </div>
                <div class="form-group mb-3">
                    <label>Connection String:</label>
                    <input type="text" class="form-control" autocapitalize="none" [(ngModel)]="device.AzureConnectionString" name="azureConnectionString" pattern=".{150}" title="The field requires: HostName=mqtt-XXXX.azure-devices.net;SharedAccessKeyName=iothubowner;SharedAccessKey=XXXXXX "
                        maxlength="150" required="">
                    <span class="form-text text-muted">150 characters max</span>
                </div>
                <div class="form-group mb-3">
                    <label>ID Device:</label><br>
                    <input type="text" class="form-control" autocapitalize="none" [(ngModel)]="device.IDDevice" name="idDevice" pattern=".{50}" title="The field requires NAMEDEVICEXX " maxlength="50">
                    <span class="form-text text-muted">50 characters max</span>
                </div>
                <button type="submit" class="btn btn-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>