table {
    width: 100%;
}

.btn-celsia {
    background-color: #ff812e;
    border: #ff812e;
}

.container {
    padding: 20px;
    margin-bottom: 20px;
}

.action_icon:hover {
    color: #3F51B4 !important;
}