<div class='container'>
    <div class="row mb-3">
        <h3 class="col-md-12 left-align">Network</h3>
        <div class="col-md-12">
            <span class="float-right" style="font-size: 12px;">Firmware: {{network.FWVersion}}</span> <br/>
            <span class="float-right" style="font-size: 12px;">UI version: V0.5.2_beta</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h5 class="col-md-12 left-align">Wifi</h5>
            <hr>
            <div class="form-group mb-3">
                <label class="form-label">Wifi Network:</label>
                <input type="text" class="form-control" [(ngModel)]="network.ssid" pattern=".{32}" title="The field requires Chanel " maxlength="32" required="">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Password</label>
                <input type="password" class="form-control" [(ngModel)]="network.pass" pattern=".{64}" title="The field requires Chanel " maxlength="64" required="">
            </div>            
            <div class="form-group mb-5">
                <button type="submit" class="btn btn-primary" (click)="saveNetwork()">Save </button>
            </div>
        </div>
    </div>
</div>