<div class='container'>
    <div class="row mb-3">
        <h3 class="col-md-12 left-align">Network</h3>
        <div class="col-md-12">
            <span class="float-right" style="font-size: 12px;">Firmware: {{network.FWVersion}}</span> <br/>
            <span class="float-right" style="font-size: 12px;">MAC: {{network.Mac}}</span>
        </div>
    </div>
    <!--Panel de Configuracion (IOTHUB FIRMWARE)-->
    <div class="row">
        <div class="col-md-12">
            <h5 class="col-md-12 left-align">Wifi</h5>
            <hr>
            <div class="form-group mb-3">
                <label class="form-label">Red Wifi:</label>
                <input type="text" class="form-control" [(ngModel)]="network.WifiSSID" pattern=".{20}" title="The field requires Chanel " maxlength="20" required="">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Contraseña</label>
                <input type="password" class="form-control" [(ngModel)]="network.WifiPassword" pattern=".{20}" title="The field requires Chanel " maxlength="20" required="">
            </div>
            <h5 class="col-md-12 left-align">Celular</h5>
            <hr>
            <div class="form-group mb-3">
                <label class="form-label">APN:</label>
                <input type="text" class="form-control" [(ngModel)]="network.Apn" pattern=".{100}" title="The field requires Chanel " maxlength="100" required="">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Usuario:</label>
                <input type="text" class="form-control" [(ngModel)]="network.ApnUser" pattern=".{20}" title="The field requires Chanel " maxlength="20" required="">
            </div>
            <div class="form-group mb-3">
                <label class="form-label">Contraseña:</label>
                <input type="password" class="form-control" [(ngModel)]="network.ApnPassword" pattern=".{20}" title="The field requires Chanel " maxlength="20" required="">
            </div>
            <div class="form-group mb-5">
                <button type="submit" class="btn btn-primary" (click)="saveNetwork()">Guardar </button>
            </div>
        </div>
    </div>
</div>