// Import Bootstrap
//@import "~bootstrap/scss/bootstrap.scss";
// @import "assets/scss/partials/variables";
// @import "~bootstrap/scss/functions";
// @import "~bootstrap/scss/variables";
// @import "~bootstrap/scss/mixins";
// @import "~bootstrap/scss/reboot";
// @import "~bootstrap/scss/grid";
// @import "~bootstrap/scss/utilities";
// @import "assets/scss/partials/reset";
// @import "assets/scss/core";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '~@angular/material/theming';
// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config( $headline: mat-typography-level(32px, 48px, 700), $body-1: mat-typography-level(16px, 24px, 500));
// Override the typography in the core CSS.
@include mat-core($custom-typography);
html,
body {
    height: 100%;
}

body {
    margin: 0;
    overflow: hidden;
}

.mat-sidenav-container {
    height: 100vh !important;
}

.mat-icon {
    color: #000000 !important;
}

.mat-stroked-button {
    color: #fff !important;
    background-color: #000000 !important;
}

.mat-sidenav {
    box-shadow: -1px -1px 22px 5px rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: -1px -1px 22px 5px rgba(0, 0, 0, 0.19);
    -moz-box-shadow: -1px -1px 22px 5px rgba(0, 0, 0, 0.19);
    background: #ffffff !important;
}

.mat-list-base {
    padding-top: 0px !important;
}