<div class='container'>
    <div class="row">
        <div class='col-md-12 right-align' style="margin: 0px;">
            <h3 class="col-md-12 left-align">Firmware</h3>
        </div>
    </div>
    <table class="fixed" border="0">
        <col width="1000px" />
        <col width="500px" />
        <tr>
            <td>
                <table border="0">
                    <tr>
                        <td>
                            <label for="newfile">Upload a file</label>
                        </td>
                        <td colspan="2">
                            <input id="newfile" type="file" style="width:100%;" [(ngModel)]="fileInput" >
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="filepath">Set path on server</label>
                        </td>
                        <td>
                            <input id="filepath" type="text" style="width:100%;" [(ngModel)]="filePath">
                        </td>
                        <td>
                            <button id="upload" type="button" (click)="upload()">Upload</button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>