<div class='container'>
    <div class="row">
        <div class='col-md-12 right-align' style="margin: 0px;">
            <h3 class="col-md-12 left-align">Firmware</h3>
        </div>
    </div>
    <table class="fixed" border="0">
        <col width="1000px" />
        <col width="500px" />
        <tr>
            <td>
                <table border="0">
                    <tr>
                        <td>
                            <input id="newfile" type="file" style="width:100%;" [(ngModel)]="fileInput">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class="btn btn-info mt-3" id="upload" type="button" (click)="upload()">Subir Archivo</button>
                            <button type="submit" class="btn btn-danger ml-2 mt-3" (click)="reset()">Reiniciar </button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>