
<div class='container' style="margin-left: 3rem !important; margin-bottom: 3rem !important;">
    <div class="row d-flex justify-content-between mb-3"> 
        <div class="col-md-4">
            <input type="text" class="form-control input-layer" [(ngModel)]="layer.name">
        </div>
        <div class="col-md-8 text-right">
          <button (click)="saveLayer()"       class="btn-p">Save</button>
          <button [routerLink]="['/keymap']"  class="btn-p">Cancel</button>
        </div> 
    </div>
    
    <div class="row"> 

      <div class="col-md-6 bg-deepDeck">
        <div class="row justify-content-center mt-5 bg-ahuyama">
          <div style=""> 
          
              <div id="ahuyama" class=""> 
                  <div id="deepdeck"> 
              
                    <div class="col-md-12" style="display: flex;" >
                      <div class="text-center">
                        <span style="margin-left: 5px; color: #fff; font-size: 13px;">VOLUMEN</span>
                        <div class="knob-surround">
                            <div id="knob" class="knob"></div>
                            <div id="tickContainer" class="ticks"></div>
                        </div>
                      </div>
                        <div style="height: 60px; width: 100px; margin-left: 40px; /*background-color: #000;*/">
                
                        </div>
                        <div class="text-center">
                          <span style="margin-left: 35px; color: #fff; font-size: 13px;">SCROLL UP</span>
                          <div class="knob-surround" style="margin-left: 40px;">
                              <div id="knob" class="knob"></div>
                              <div id="tickContainer" class="ticks"></div>
                          </div>
                        </div>
                    </div>
                
                    <div class="col-md-12">
                        <ul id="keydeck" *ngFor="let item of layer.row0; let i = index">
                          <li [ngClass]="{'active': seletedDeepKey == item}" (click)="pressDeepKey(layer.row0, item, i)">
                              <span class="regular-name" contenteditable="true">{{item.name}}</span>
                              <span class="fixed-name" contenteditable="false">{{item.key_code_name}}</span>
                          </li>
                        </ul>
                        <ul id="keydeck" *ngFor="let item of layer.row1; let i = index">
                          <li [ngClass]="{'active': seletedDeepKey == item}" (click)="pressDeepKey(layer.row1, item, i)">
                            <span class="regular-name" contenteditable="true">{{item.name}}</span>
                            <span class="fixed-name" contenteditable="false">{{item.key_code_name}}</span>
                          </li> 
                        </ul>
                        <ul id="keydeck" *ngFor="let item of layer.row2; let i = index">
                          <li [ngClass]="{'active': seletedDeepKey == item}" (click)="pressDeepKey(layer.row2, item, i)">
                            <span class="regular-name" contenteditable="true">{{item.name}}</span>
                            <span class="fixed-name" contenteditable="false">{{item.key_code_name}}</span>
                          </li>                    </ul>
                        <ul id="keydeck" *ngFor="let item of layer.row3; let i = index">
                          <li [ngClass]="{'active': seletedDeepKey == item}" (click)="pressDeepKey(layer.row3, item, i)">
                            <span class="regular-name" contenteditable="true">{{item.name}}</span>
                            <span class="fixed-name" contenteditable="false">{{item.key_code_name}}</span>
                          </li>
                        </ul>
                    </div> 
    
                </div>
              
              </div>
            </div>
        </div>
        <div class="row gestures-knobs-center mb-3">  
            <div class="col-md-5 mt-3">
              <div id="knob-container">
                <h3>Left and Right Knobs</h3>
                
                <div class="keydeck-thin">
                  <div class="description">
                    <i class="material-icons">rotate_right</i>ClockWise</div>
                  <button [ngClass]="{'active': seletedDeepFunctionKey == 'layer.left_encoder_map.cw'}" 
                          (click)="pressDeepFunctionKey('layer.left_encoder_map.cw')">
                    {{GetKeyNameByKeyCode(layer.left_encoder_map.cw)}}
                  </button>
                  <button [ngClass]="{'active': seletedDeepFunctionKey == 'layer.right_encoder_map.cw'}" 
                          (click)="pressDeepFunctionKey('layer.right_encoder_map.cw')">
                    {{GetKeyNameByKeyCode(layer.right_encoder_map.cw)}}
                  </button>
                </div>

                <div class="keydeck-thin">
                  <div class="description">
                    <i class="material-icons">rotate_left</i>CounterClockWise</div>
                  <button [ngClass]="{'active': seletedDeepFunctionKey == 'layer.left_encoder_map.ccw'}" 
                          (click)="pressDeepFunctionKey('layer.left_encoder_map.ccw')">
                    {{GetKeyNameByKeyCode(layer.left_encoder_map.ccw)}}
                  </button>
                  <button [ngClass]="{'active': seletedDeepFunctionKey == 'layer.right_encoder_map.ccw'}" 
                          (click)="pressDeepFunctionKey('layer.right_encoder_map.ccw')">
                    {{GetKeyNameByKeyCode(layer.right_encoder_map.ccw)}}
                  </button>
                </div>

                <div class="keydeck-thin">
                  <div class="description">
                    <i class="material-icons">mouse</i>Single click</div>
                  <button [ngClass]="{'active': seletedDeepFunctionKey == 'layer.left_encoder_map.single_press'}" 
                          (click)="pressDeepFunctionKey('layer.left_encoder_map.single_press')">
                    {{GetKeyNameByKeyCode(layer.left_encoder_map.single_press)}}
                  </button>
                  <button [ngClass]="{'active': seletedDeepFunctionKey == 'layer.right_encoder_map.single_press'}" 
                          (click)="pressDeepFunctionKey('layer.right_encoder_map.single_press')">
                    {{GetKeyNameByKeyCode(layer.right_encoder_map.single_press)}}
                  </button>
                </div>

                <div class="keydeck-thin">
                  <div class="description">
                    <i class="material-icons">double_arrow</i>Double click</div>
                  <button [ngClass]="{'active': seletedDeepFunctionKey == 'layer.left_encoder_map.double_press'}" 
                          (click)="pressDeepFunctionKey('layer.left_encoder_map.double_press')">
                    {{GetKeyNameByKeyCode(layer.left_encoder_map.double_press)}}
                  </button>
                  <button [ngClass]="{'active': seletedDeepFunctionKey == 'layer.right_encoder_map.double_press'}" 
                          (click)="pressDeepFunctionKey('layer.right_encoder_map.double_press')">
                    {{GetKeyNameByKeyCode(layer.right_encoder_map.double_press)}}
                  </button>
                </div>

                <div class="keydeck-thin">
                  <div class="description">
                    <i class="material-icons">compress</i>Long press</div>
                  <button [ngClass]="{'active': seletedDeepFunctionKey == 'layer.left_encoder_map.long_press'}" 
                          (click)="pressDeepFunctionKey('layer.left_encoder_map.long_press')">
                    {{GetKeyNameByKeyCode(layer.left_encoder_map.long_press)}}
                  </button>
                  <button [ngClass]="{'active': seletedDeepFunctionKey == 'layer.right_encoder_map.long_press'}" 
                          (click)="pressDeepFunctionKey('layer.right_encoder_map.long_press')">
                    {{GetKeyNameByKeyCode(layer.right_encoder_map.long_press)}}
                  </button>
                </div>
              </div>
            </div> 

            <div class="col-md-4 mt-3">
              <div id="gesture-container">
                <h3>Gestures</h3>

                <div class="keydeck-thin">
                  <div class="description">
                    <i class="material-icons">keyboard_arrow_up</i>Up</div>
                  <button [ngClass]="{'active': seletedDeepFunctionKey == 'layer.gesture_map.up'}" 
                          (click)="pressDeepFunctionKey('layer.gesture_map.up')">
                    {{GetKeyNameByKeyCode(layer.gesture_map.up)}}
                  </button>
                </div>

                <div class="keydeck-thin">
                  <div class="description">
                    <i class="material-icons">keyboard_arrow_down</i>Down</div>
                  <button [ngClass]="{'active': seletedDeepFunctionKey == 'layer.gesture_map.down'}" 
                          (click)="pressDeepFunctionKey('layer.gesture_map.down')">
                    {{GetKeyNameByKeyCode(layer.gesture_map.down)}}
                  </button>
                </div>

                <div class="keydeck-thin">
                  <div class="description">
                    <i class="material-icons">keyboard_arrow_left</i>Left</div>
                  <button [ngClass]="{'active': seletedDeepFunctionKey == 'layer.gesture_map.left'}" 
                          (click)="pressDeepFunctionKey('layer.gesture_map.left')">
                    {{GetKeyNameByKeyCode(layer.gesture_map.left)}}
                  </button>
                </div>

                <div class="keydeck-thin">
                  <div class="description">
                    <i class="material-icons">keyboard_arrow_right</i>Right</div>
                  <button [ngClass]="{'active': seletedDeepFunctionKey == 'layer.gesture_map.right'}" 
                          (click)="pressDeepFunctionKey('layer.gesture_map.right')">
                    {{GetKeyNameByKeyCode(layer.gesture_map.right)}}
                  </button>
                </div>

                <div class="keydeck-thin">
                  <div class="description">
                    <i class="material-icons">adjust</i>Near</div>
                  <button [ngClass]="{'active': seletedDeepFunctionKey == 'layer.gesture_map.near'}" 
                          (click)="pressDeepFunctionKey('layer.gesture_map.near')">
                    {{GetKeyNameByKeyCode(layer.gesture_map.near)}}
                  </button>
                </div>

                <div class="keydeck-thin">
                  <div class="description">
                    <i class="material-icons">highlight_off</i>Far</div>
                  <button [ngClass]="{'active': seletedDeepFunctionKey == 'layer.gesture_map.far'}" 
                          (click)="pressDeepFunctionKey('layer.gesture_map.far')">
                    {{GetKeyNameByKeyCode(layer.gesture_map.far)}}
                  </button>
                </div>
              </div>
            </div> 
        </div>
      </div>
      <div class="col-md-6 v-line">
        <div class="row">
          <div class="col-md-12 mt-3">
              <mat-tab-group class="custom-tabs" (matTabHeaderFocusChanged)="onTabHeaderFocusChanged($event)">
                  <mat-tab label="Basic">
                    <ul id="keyboard" *ngFor="let key of objectKeys(keyList_basic)">
                      <li
                        (click)="pressKey(keyList_basic[key][1], keyList_basic[key][2],keyList_basic[key][0])"
                      >
                        <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize(keyList_basic[key][1])}">
                          {{keyList_basic[key][1]}}
                        </span>
                        <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize(keyList_basic[key][0])}">
                          {{keyList_basic[key][0]}}
                        </span>
                      </li>
                    </ul>
                  </mat-tab>
                  <mat-tab label="Functions">
                    <ul id="keyboard" *ngFor="let key of objectKeys(keylist_functions)">
                      <li
                        (click)="pressKey(keylist_functions[key][1], keylist_functions[key][2], keylist_functions[key][0])"
                      >
                        <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize(keylist_functions[key][1])}">
                          {{keylist_functions[key][1]}}
                        </span>
                        <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize(keylist_functions[key][0])}">
                          {{keylist_functions[key][0]}}
                        </span>
                      </li>
                    </ul>
                  </mat-tab>
                  <mat-tab label="Media">
                      <ul id="keyboard" *ngFor="let key of objectKeys(keylist_media)">
                        <li
                          (click)="pressKey(keylist_media[key][1], keylist_media[key][2], keylist_media[key][0])"
                          [ngStyle]="{'font-size': getTextFontSize(keylist_media[key][1])}"
                        >
                          <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize(keylist_media[key][1])}">
                              {{keylist_media[key][1]}}
                          </span>
                          <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize(keylist_media[key][0])}">
                              {{keylist_media[key][0]}}
                          </span>
                        </li>
                      </ul>
                    </mat-tab>
                    <mat-tab label="Mouse">
                      <ul id="keyboard" *ngFor="let key of objectKeys(keylist_mouse)">
                        <li
                          (click)="pressKey(keylist_mouse[key][1], keylist_mouse[key][2],keylist_mouse[key][0])"
                          [ngStyle]="{'font-size': getTextFontSize(keylist_mouse[key][1])}"
                        >
                          <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize(keylist_mouse[key][1])}">
                              {{keylist_mouse[key][1]}}
                          </span>
                          <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize(keylist_mouse[key][0])}">
                              {{keylist_mouse[key][0]}}
                          </span>
                        </li>
                      </ul>
                    </mat-tab>
          
                    <mat-tab label="Macros">
                      <ul id="keyboard" *ngFor="let key of objectKeys(keylist_macros)">
                        <li
                          (click)="pressKey(keylist_macros[key][1], keylist_macros[key][2],keylist_macros[key][0])"
                          [ngStyle]="{'font-size': getTextFontSize(keylist_macros[key][1])}"
                        >
                          <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize(keylist_macros[key][1])}">
                              {{keylist_macros[key][1]}}
                          </span>
                          <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize(keylist_macros[key][0])}">
                              {{keylist_macros[key][0]}}
                          </span>
                        </li>
                      </ul>
                    </mat-tab>
                    
          
              </mat-tab-group> 
          </div>
          <div class="col-md-12 mt-3">
              <div>
                  <h2 class="title">.</h2>
              </div>
              <!-- <div style="height: 200px; overflow-y: auto;">
                  <ul id="keyboard" *ngFor="let macro of  deepMacros">
                      <li>{{macro}}</li>
                  </ul>
              </div> -->
          </div>
        </div>
      </div>
    </div>
    
</div>

