<div class='container'>
    <div class="row mb-3">
        <div class="col-md-12 d-flex justify-content-between">
            <div>
                <input type="text" class="form-control input-layer" [(ngModel)]="layer.name">
            </div>
            <div>
                <button (click)="saveLayer()" style="background: #dc9f10; border-radius: 5px; padding: 5px; width: 130px;">Save</button>
                <button [routerLink]="['/keymap']" style="background: #dc9f10; border-radius: 5px; padding: 5px; width: 130px;">Cancel</button>
              
              </div>
        </div>        
    </div>
    <div class="row">
        <div id="ahuyama" class="col-md-5">
            <div id="deepdeck">
                <div class="col-md-12" style="display: flex;">
                    <div class="knob-surround">
                        <div id="knob" class="knob"></div>
                        <div id="tickContainer" class="ticks"></div>
                    </div>
                    <div style="height: 60px; width: 100px; background-color: #000; margin-left: 40px;">

                    </div>
                    <div class="knob-surround" style="margin-left: 40px;">
                        <div id="knob" class="knob"></div>
                        <div id="tickContainer" class="ticks"></div>
                    </div>
                </div>
                <div class="col-md-12">
                    <ul id="keydeck" *ngFor="let item of layer.row0; let i = index">
                        <li [ngClass]="{'active': seletedDeepKey == item}" (click)="pressDeepKey(layer.row0, item, i)">
                            <span class="regular-name" contenteditable="true">{{item.name}}</span>
                            <span class="fixed-name" contenteditable="false">{{item.name}}</span>
                        </li>


                        <!-- <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize(keylist_mouse[key][1])}">
                            {{keylist_mouse[key][1]}}
                        </span>
                        <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize(keylist_mouse[key][0])}">
                            {{keylist_mouse[key][0]}}
                        </span> -->

                    </ul>
                    <ul id="keydeck" *ngFor="let item of layer.row1; let i = index">
                        <li [ngClass]="{'active': seletedDeepKey == item}" (click)="pressDeepKey(layer.row1, item, i)">{{item.name}}</li>
                    </ul>
                    <ul id="keydeck" *ngFor="let item of layer.row2; let i = index">
                        <li [ngClass]="{'active': seletedDeepKey == item}" (click)="pressDeepKey(layer.row2, item, i)">{{item.name}}</li>
                    </ul>
                    <ul id="keydeck" *ngFor="let item of layer.row3; let i = index">
                        <li [ngClass]="{'active': seletedDeepKey == item}" (click)="pressDeepKey(layer.row3, item, i)">{{item.name}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-7" style="height: 400px; overflow-y: auto;"> -->
            <!-- <ul id="keyboard" *ngFor="let key of  objectKeys(keyList)">
                <li (click)="pressKey(key, keyList[key])">{{key}}</li>
            </ul> -->
            <!-- <ul id="keyboard" *ngFor="let key of  objectKeys(keyList_basic)">
                <li (click)="pressKey(key, keyList_basic[key])">{{keyList_basic[key][1]}}</li>
            </ul> -->

            <!-- <ul id="keyboard" *ngFor="let key of  objectKeys(keyList_basic)">
                <li (click)="pressKey(keyList_basic[key][1], keyList_basic[key][2])" 
                    [ngStyle]="{'font-size': getTextFontSize(keyList_basic[key][1])}"
                        >{{keyList_basic[key][1]}}</li>
            </ul> -->

            
        <!-- </div> -->
    </div>
    <div class="col-md-12 mt-3">
        <mat-tab-group class="custom-tabs" (matTabHeaderFocusChanged)="onTabHeaderFocusChanged($event)">
            <mat-tab label="Basic">
              <ul id="keyboard" *ngFor="let key of objectKeys(keyList_basic)">
                <li
                  (click)="pressKey(keyList_basic[key][1], keyList_basic[key][2])"
                >
                  <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize(keyList_basic[key][1])}">
                    {{keyList_basic[key][1]}}
                  </span>
                  <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize(keyList_basic[key][0])}">
                    {{keyList_basic[key][0]}}
                  </span>
                </li>
              </ul>
            </mat-tab>
            <mat-tab label="Functions">
              <ul id="keyboard" *ngFor="let key of objectKeys(keylist_functions)">
                <li
                  (click)="pressKey(keylist_functions[key][1], keylist_functions[key][2])"
                >
                  <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize(keylist_functions[key][1])}">
                    {{keylist_functions[key][1]}}
                  </span>
                  <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize(keylist_functions[key][0])}">
                    {{keylist_functions[key][0]}}
                  </span>
                </li>
              </ul>
            </mat-tab>
            <mat-tab label="Media">
                <ul id="keyboard" *ngFor="let key of objectKeys(keylist_media)">
                  <li
                    (click)="pressKey(keylist_media[key][1], keylist_media[key][2])"
                    [ngStyle]="{'font-size': getTextFontSize(keylist_media[key][1])}"
                  >
                    <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize(keylist_media[key][1])}">
                        {{keylist_media[key][1]}}
                    </span>
                    <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize(keylist_media[key][0])}">
                        {{keylist_media[key][0]}}
                    </span>
                  </li>
                </ul>
              </mat-tab>
              <mat-tab label="Mouse">
                <ul id="keyboard" *ngFor="let key of objectKeys(keylist_mouse)">
                  <li
                    (click)="pressKey(keylist_mouse[key][1], keylist_mouse[key][2])"
                    [ngStyle]="{'font-size': getTextFontSize(keylist_mouse[key][1])}"
                  >
                    <span class="regular-name" [ngStyle]="{'font-size': getTextFontSize(keylist_mouse[key][1])}">
                        {{keylist_mouse[key][1]}}
                    </span>
                    <span class="fixed-name" [ngStyle]="{'font-size': getTextFontSize(keylist_mouse[key][0])}">
                        {{keylist_mouse[key][0]}}
                    </span>
                  </li>
                </ul>
              </mat-tab>
              <!-- <mat-tab label="DeepDeck">
                <ul id="keyboard" *ngFor="let key of objectKeys(keyList_basic)">
                  <li
                    (click)="pressKey(keyList_basic[key][1], keyList_basic[key][2])"
                    [ngStyle]="{'font-size': getTextFontSize(keyList_basic[key][1])}"
                  >
                    {{keyList_basic[key][1]}}
                  </li>
                </ul>
              </mat-tab> -->
          </mat-tab-group>

    </div>
    <div class="col-md-12 mt-3">
        <div>
            <h2 class="title">MACROS</h2>
        </div>
        <div style="height: 200px; overflow-y: auto;">
            <ul id="keyboard" *ngFor="let macro of  deepMacros">
                <li>{{macro}}</li>
            </ul>
        </div>
    </div>
</div>